# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule FISSION.Api.Heroku do
  @moduledoc """
  API calls for all endpoints tagged `Heroku`.
  """

  alias FISSION.Connection
  import FISSION.RequestBuilder


  @doc """

  ## Parameters

  - connection (FISSION.Connection): Connection to server
  - body (ProvisionRequest): 
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %FISSION.Model.HerokuProvision{}} on success
  {:error, info} on failure
  """
  @spec heroku_resources_post(Tesla.Env.client, FISSION.Model.ProvisionRequest.t, keyword()) :: {:ok, FISSION.Model.HerokuProvision.t} | {:error, Tesla.Env.t}
  def heroku_resources_post(connection, body, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/heroku/resources")
    |> add_param(:body, :"body", body)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%FISSION.Model.HerokuProvision{})
  end
end
